<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

    

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Contents</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Home - Analytics</span></a></li>
        
        <li class="treeview active">
          <a href="#"><i class="fa fa-link"></i> <span>Data Panel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Recruitment Form</a></li>
            <li><a href="/dairyvac">Dairy Vacancies</a></li>
            <li><a href="/attrition">Attrition</a></li>
            <li><a href="/transfers">Transfers</a></li>

            <li class="treeview">
             <a href="#"><span>Approved VS Actual</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
              <!-- <a href="/approved_actual">Approved vs Actual</a> -->

            <ul class="treeview-menu">
              <li><a href="/approved_actual/">Approved/Actual Dashboard</a></li>
              <li><a href="/approved_actual/approved">Approved</a></li>
              <li><a href="/approved_actual/actual">Actual</a></li>
            </ul></li>
            <li><a href="/pli_conducted">PLI Conducted</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>