<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview active">
        <a href="#"><i class="fa fa-th"></i> <span> Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/">Home</a></li>
          <!-- <li><a href="#">Recruitment Form</a></li> -->
          <li><a href="/attrition">Attrition</a></li>
          <li><a href="/transfers">Transfers</a></li>
          <li><a href="/approved_actual/">Approved/Actual</a></li>
          <li><a href="/pli">PLI Conducted</a></li>
          <li class="treeview">
            <a href="#"><span>Vacancies</span>
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <!-- <a href="/approved_actual">Approved vs Actual</a> -->
            <ul class="treeview-menu">
              <li><a href="/dairyvac">Dairy Vacancies</a></li>
              <li><a href="/marketing">Marketing</a></li>
              <li><a href="/supplychain">Supply Chain</a></li>
              <li><a href="/finance">Finance & SBD</a></li>
              <li><a href="/hr_admin">HR & Admin</a></li>
              <li><a href="/audit">Internal Audit</a></li>
              <li><a href="/icecream">Icecream</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>