
<% include partials/header %>

  <!-- Content Wrapper. Contains page content -->
 <section class="content-header">
      <h1>
        Dashboard Contents
        <small>Show graphs for Attrition here</small>
        
      </h1>
    
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
    <div class"row">
      <div class="col-md-6">
          <a href="transfers/stats" class="btn btn-primary"> View Transfers Statistics </a>
          <a href="pli/stats" class="btn btn-primary"> View PLI Statistics</a>
      </div>
    </div>

    </section>


<% include partials/footer %>