
<% include partials/header %>

<!-- Content Wrapper. Contains page content -->
<section class="content-header">
  <h1>
    Dashboard Contents


  </h1>

</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class"row">
    <div class="col-md-12">
      <a href="transfers/stats" class="btn btn-primary btn-lg">View Transfers Statistics </a>
      <a href="pli/stats" class="btn btn-primary btn-lg">View PLI Statistics</a>
      <a href="attrition/upload" class="btn btn-primary btn-lg">Upload Attrition</a>
      <a href="attrition/uploadm" class="btn btn-primary btn-lg">Upload Manning</a>
      <a href="attrition/indexMaster" class="btn btn-primary btn-lg">AttritionMaster</a>
      <a href="attrition/manningMaster" class="btn btn-primary btn-lg">ManningMaster</a>
    </div>

    <div class="col-md-12" style="margin-top:5px">
      <h3> Attrition Graphs</h3>
      <a href="attrition/stats/companies_leftto" class="btn btn-primary btn-lg">Companies left to</a>
      <a href="attrition/stats/reasons_toleave" class="btn btn-primary btn-lg">Reasons to leave</a>
      <a href="attrition/stats/age_attrition" class="btn btn-primary btn-lg">Age wise Attrition</a>
      <a href="attrition/stats/gender_attrition" class="btn btn-primary btn-lg">Gender Wise Attrition</a>
    </div>


  </div>
</section>


<% include partials/footer %>