
<% include partials/header %>
  <!-- Content Wrapper. Contains page content -->
 <section class="content-header">
      <h1>
        Dashboard Contents
        <small>Show graphs for Attrition here</small>
        
      </h1>
    
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>


<% include partials/footer %>