
 <div class="col-md-9">
        <table id="myTable" class="table table-bordered table-striped">
      <tr class="header">

        <th>Division</th>
        <th>NMPTS (Associates)</th>
        <th>Tier V (CL 12-17)</th>
        <th>Tier IV (CL 18-19)</th>
        <th>Tier III(CL 20-27)</th>
        <th>Tier II(CL 28-29)</th>
        <th>Tier I(CL 30+)</th>
       	<th>Total 2016(Approved)</th>
      </tr>
   




      <tr>
        <td>Dairy Sales</td> 
        <td></td>
        <td>109</td>
        <td>99</td>
        <td>73</td>
        <td>3</td>
        <td>1</td>
        <td>285</td>
      
     
        <!-- <td><a class="btn btn-danger" href="/dairyvac/delete/<%=obj._id%>">Delete</a></td> -->
      </tr>
     
    </table>
         </div>
