  <% include ../../partials/header %> 


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Dairy Vacancies</h1>
        
            <p>
                 <a class="btn btn-primary btn-large" href="dairyvac/new">Add</a>
            </p>
             
            

        </div>
    </header>
    <p> View all dairy vacancy records here</p>
    <p>For Each Record</p>
    <p>show Edit and Delete Buttons</p>
 <div class="row text-center">
       
        </div>
   
</div>


	 
    <% include ../../partials/footer %> 