  <% include ../../partials/header %> 
 <p style="font-size: 24px">Dairy Vacancies Form</p>
            <form role="form" method ="POST" action="./new" >
              <div class="box-body">
                
                <div class="box-footer " >
                <div class ="col-xs-1">
                <p>
                  <label for="sno">S. No</label>
                  <input name ="s_no" type="text" class="form-control " for="sno" placeholder=""></p>
                </div>


                <div class ="col-xs-2">
                <p>
                  <label for="pos">Position Title</label>
                  <input type="text" name ="position" class="form-control" for="pos" placeholder="">
                </p>
                </div>

                <div class ="col-xs-2">
                <p>
                  <label for="">Region</label>
                  <input name ="region" type="text" class="form-control" for="" placeholder=""></p>
                </div>



                   <div class ="col-xs-2">
                <p><label for="">Division</label>
                  <input name ="division"  type="text" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-2">
                <p><label for="">TA FP</label>
                  <input name ="ta_fp"  type="text" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-2">
                <p><label for="">Tier</label>
                  <input name ="tier"  type="text" class="form-control" for="" placeholder=""></p>
                </div>
                  </div>
                    <p></p>
                  <div class="box-footer">
                   <div class ="col-xs-2">
                <p><label for="">Last Incumbent</label>
                  <input  name ="last_incumbent"  type="text" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-3">
                <p><label for="">Vacant Since</label>
                  <input  name ="vacant_since"  type="date" class="form-control" for="" placeholder=""></p>
                </div>  

                   <div class ="col-xs-3">
                <p><label for="">CEO Approval Date </label>
                  <input name ="ceo_approval_date" type="date" class="form-control" for="" placeholder=""></p>
                </div>
                </div>  
                <p></p>
                 <div class="box-footer">
                   <div class ="col-xs-4">
                <p><label for="">Number of Candidates Sourced</label>
                  <input name ="n_candidates_sourced" type="text" class="form-control" for="" placeholder=""></p>
                </div>
                   
                   <div class ="col-xs-4">
                <p><label for="">Number of Tested Candidates</label>
                  <input name ="n_candidates_tested" type="text" class="form-control" for="" placeholder=""></p>
                </div>
                  </div>
                  <p></p>

                   <div class="box-footer">
                  <div class ="col-xs-1">
                <p> <label for="">Interviews</label>
                  <input name ="Interviews" type="text" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-2">
                <p><label for="">Shortlisted Candidates</label>
                  <input name ="shortlisted" type="text" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-3">
                <p><label for="">Offer Date</label>
                  <input name ="offer_date" type="date" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-3">
                <p><label for="">Acceptance Date</label>
                  <input  name ="acceptance_date" type="date" class="form-control" for="" placeholder=""></p>
                </div>

                   <div class ="col-xs-3">
                <p><label for="">DOJ</label>
                  <input name ="doj" type="date" class="form-control" for="" placeholder=""></p>
                </div>
                </div>
                <p></p>
                   <div class ="col-xs-2">
                <p><label for="">Status</label>
                  <input name ="status" type="text" class="form-control" for="" placeholder=""></p>
                </div>
                
                   <div class ="col-xs-2">
                <p><label for="">Days to Hire</label>
                  <input name ="days_to_hire" type="text" class="form-control" for="" placeholder=""></p>
                </div>

             
               
                <div class="checkbox">
                 
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary" >Submit</button>
              </div>
            </form>
          
   <% include ../../partials/footer %> 