  <% include ../../partials/header %> 

 <div class="col-md-9">
        <div >
              
               

                    <p>S_no : <%=dairyvacancies.s_no %>/</p>
                        <p><%= dairyvacancies.position %></p>
                    <p><%= dairyvacancies.region %></p>
                    

                </div>
         </div>
  

    <% include ../../partials/footer %> 