  <% include ../../partials/header %> 

 <div class="col-md-9">
        <div >
              
               	<p> Show a single row when :</p>
               	<p>1 : a new record is created</p>
               	<p>2 : an show/id is called</p>
 				

        </div>
  </div>
  

    <% include ../../partials/footer %> 